<?xml version="1.0" ?>
<web-app>
	<display-name>UCC-SAATR Servlet</display-name>
	<description>School Application and Admission Test Results</description>
	<servlet>
		<servlet-name>HomePage</servlet-name>
		<servlet-class>HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Applicants</servlet-name>
		<servlet-class>ApplicantsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Applicants</servlet-name>
		<url-pattern>/applicants</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppDates</servlet-name>
		<servlet-class>AppointmentDatesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppDates</servlet-name>
		<url-pattern>/dates</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Appointments</servlet-name>
		<servlet-class>AppointmentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Appointments</servlet-name>
		<url-pattern>/appointments</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Signup</servlet-name>
		<servlet-class>SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
</web-app>
